<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="lib/touchid.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter" ng-controller="MainCtrl">
    <ion-header-bar>
      <h1 class="title">Photos</h1>
    </ion-header-bar>
    <ion-content padding="true">
      <button ng-click="getPhoto()" class="button button-block button-primary">Get Photo</button>
      <img ng-src="{{lastPhoto}}" style="max-width: 100%">
      <br><br>
      <button ng-click="getTouchId()" class="button button-block button-primary">Authenticate</button>
    </ion-content>
  </body>
</html>
